# Python files
*.pyc
*.pyo
__pycache__/

# Environment files
.env
.venv/
venv/

# Log files
*.log

# Static files
static/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode settings
.vscode/

# OS-specific files
.DS_Store

# Database files
*.sqlite3
.db